::-webkit-scrollbar {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: #021117;
  border-radius: 10px;
}

.nav_logo_text {
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  font-style: italic;
}
